.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 7vh;
  /* width: 10vh; */
  align-self: flex-start;
  justify-self: flex-start;
  /* float: left; */
  margin-right:auto;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 7vh;
  display: flex;
  /* flex-direction: column; */
  align-items: auto;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: blue;
}

.App-nav {
  color: white;
  height: 7vh;
  align-self: flex-end;
  justify-self: flex-end
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
